@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h1 class="display-4">Be welcome to our system!</h1>
    <p>
        <a asp-controller="Contact">View contacts</a>
    </p>
    <p>
        <a asp-controller="Contact" asp-action="Create">Create new contact</a>
    </p>
</div>
